---
const { project, class: className, ...attrs } = Astro.props;
---

<article class={className ?? ""} {...attrs}>
  <a href={`/project/${project.id}/`}>
    <span>Featured</span>
    <div>
      {
        project.data.links?.repo && (
          <a href={project.data.links.repo} target="_blank">
            GitHub
          </a>
        )
      }
      {
        project.data.links?.homepage && (
          <a href={project.data.links.homepage} target="_blank">
            Website
          </a>
        )
      }
    </div>
    <h1 transition:name={project.data.title}>{project.data.title}</h1>
    <p>{project.data.description}</p>
    <span>{project.data.duration ?? ""}</span>
  </a>
</article>
