---
import { Image } from "astro:assets";
import type { ProjectCardProps } from "@/lib/types";

const { project } = Astro.props as ProjectCardProps;
---

<article>
  {
    project.data.readMore ? (
      <a href={`/project/${project.id}/`}>
        <Image src={project.data.cover} alt={project.data.title} />
      </a>
    ) : (
      <Image src={project.data.cover} alt={project.data.title} />
    )
  }
  <div>
    {
      project.data.links?.repo && (
        <a href={project.data.links.repo} target="_blank">
          GitHub
        </a>
      )
    }
    {
      project.data.links?.homepage && (
        <a href={project.data.links.homepage} target="_blank">
          Website
        </a>
      )
    }
  </div>
  <h1 transition:name={project.data.title}>{project.data.title}</h1>
  <p transition:name={project.data.description}>{project.data.description}</p>
  {project.data.readMore && <a href={`/project/${project.id}/`}>Read More</a>}
</article>
