---
import BaseLayout from "@/layouts/BaseLayout.astro";
import type { PaginateFunction } from "astro";
import { getCollection } from "astro:content";
import type { PostsPageProps } from "@/lib/types";
import Pagination from "@/components/post/Pagination.astro";
import PostCard from "@/components/post/PostCard.astro";
import { SITE } from "@data/config";
import FeaturedCard from "@/components/post/FeaturedCard.astro";

export async function getStaticPaths({
  paginate,
}: {
  paginate: PaginateFunction;
}) {
  const posts = await getCollection("posts").then((entries) =>
    entries.filter((entry) => !entry.data.draft)
  );

  posts.sort((a, b) => {
    const aDate = new Date(a.data.modDatetime ?? a.data.pubDatetime).valueOf();
    const bDate = new Date(b.data.modDatetime ?? b.data.pubDatetime).valueOf();
    return bDate - aDate;
  });

  const featured = posts.find((p) => p.data.featured);
  const rest = featured ? posts.filter((p) => p.id !== featured.id) : posts;
  const pagination = paginate(rest, { pageSize: SITE.pageSize });

  return pagination.map((page) => ({
    ...page,
    props: {
      ...page.props,
      totalPages: pagination.length,
      featured,
    },
  }));
}

const { page, totalPages, featured } = Astro.props as PostsPageProps & {
  featured?: any;
};
---

<BaseLayout>
  <div class="container">
    <div class="grid gap-8 lg:grid-cols-2">
      <!-- Left: posts list -->
      <main class="lg:pr-6">
        <header class="py-6">
          <div class="flex items-center justify-between">
            <h1
              class="text-text-default text-3xl"
              transition:name="latest-articles"
            >
              Latest articles
            </h1>
          </div>
        </header>

        <div class="mt-6 flex flex-col gap-6">
          {page.data.map((post) => <PostCard post={post} />)}
        </div>

        <div class="mt-8 mb-12 px-2">
          <Pagination
            currentPage={page.currentPage}
            prevUrl={page.url.prev}
            nextUrl={page.url.next}
            first={page.url.first}
            last={page.url.last}
            totalPages={totalPages}
          />
        </div>
      </main>

      <!-- Right: featured / static panel -->
      <aside class="hidden lg:block">
        <div class="pb-8 lg:sticky lg:top-28 lg:h-[calc(100vh-7rem)]">
          {featured && <FeaturedCard post={featured} class="h-full" />}
        </div>
      </aside>
    </div>
  </div>
</BaseLayout>
