---
import { formatDate } from "@/lib/utils";

const { post, class: className, ...attrs } = Astro.props;
---

<article class={className ?? ""} {...attrs}>
  <a href={`/post/${post.id}/`}>
    <span>Featured</span>
    <time transition:name={`${post.data.title}-date`}>
      {formatDate(post.data.pubDatetime)}
    </time>
    <h1 transition:name={post.data.title}>{post.data.title}</h1>
    <p>{post.data.description}</p>
    <span>{post.data.duration ?? ""}</span>
  </a>
</article>
