---
const {
  currentPage,
  prevUrl,
  nextUrl,
  first,
  last,
  firstUrl,
  lastUrl,
  totalPages,
} = Astro.props;
const firstLink = first ?? firstUrl;
const lastLink = last ?? lastUrl;
import { Icon } from "astro-icon/components";
---

<nav class="border-border flex items-center justify-between border-t pt-8">
  <div class="flex items-center gap-2">
    {
      firstLink ? (
        <a
          href={firstLink}
          class="border-border-strong hover:bg-foreground-0 border p-3 transition-colors hover:text-black"
          aria-label="First page"
        >
          <Icon name="arrow-right" class="h-5 w-5 rotate-180" />
        </a>
      ) : (
        <button
          class="border-border text-foreground-3 border p-3"
          disabled
          aria-label="First page"
        >
          <Icon name="arrow-right" class="h-5 w-5 rotate-180" />
        </button>
      )
    }

    {
      prevUrl ? (
        <a
          href={prevUrl}
          class="border-border-strong hover:bg-foreground-0 border p-3 transition-colors hover:text-black"
          aria-label="Previous page"
        >
          <Icon name="arrow-right" class="h-5 w-5 rotate-180" />
        </a>
      ) : (
        <button
          class="border-border text-foreground-3 border p-3"
          disabled
          aria-label="Previous page"
        >
          <Icon name="arrow-right" class="h-5 w-5 rotate-180" />
        </button>
      )
    }
  </div>

  <div class="text-foreground-2 text-sm font-medium">
    {currentPage} / {totalPages}
  </div>

  <div class="flex items-center gap-2">
    {
      nextUrl ? (
        <a
          href={nextUrl}
          class="border-border-strong hover:bg-foreground-0 border p-3 transition-colors hover:text-black"
          aria-label="Next page"
        >
          <Icon name="arrow-right" class="h-5 w-5" />
        </a>
      ) : (
        <button
          class="border-border text-foreground-3 border p-3"
          disabled
          aria-label="Next page"
        >
          <Icon name="arrow-right" class="h-5 w-5" />
        </button>
      )
    }

    {
      lastLink ? (
        <a
          href={lastLink}
          class="border-border-strong hover:bg-foreground-0 border p-3 transition-colors hover:text-black"
          aria-label="Last page"
        >
          <Icon name="arrow-right" class="h-5 w-5" />
        </a>
      ) : (
        <button
          class="border-border text-foreground-3 border p-3"
          disabled
          aria-label="Last page"
        >
          <Icon name="arrow-right" class="h-5 w-5" />
        </button>
      )
    }
  </div>
</nav>
