---
import { formatDate } from "@/lib/utils";
import type { PostCardProps } from "@/lib/types";

const { post } = Astro.props as PostCardProps;
---

<article>
  <a href={`/post/${post.id}/`}>
    <time transition:name={`${post.data.title}-date`}>
      {formatDate(post.data.pubDatetime)}
    </time>
    <h1 transition:name={post.data.title}>{post.data.title}</h1>
    <p>{post.data.description}</p>
  </a>
</article>
