---
import HeadSEO from "@/components/core/HeadSEO.astro";
import Header from "@/components/core/Header.astro";
import Sidebar from "@/components/core/Sidebar.astro";

import { LOCALE } from "config";
import type { BaseLayoutProps } from "@/lib/types";
import { Image } from "astro:assets";
import so from "@/assets/setup.png";

const { title, description, image, imageAlt, contentType } =
  Astro.props as BaseLayoutProps;
---

<html lang=`${LOCALE.lang ?? "en"}`>
  <head>
    <HeadSEO
      title={title}
      description={description}
      image={image}
      imageAlt={imageAlt}
      contentType={contentType}
    />
  </head>

  <body class="flex flex-col">
    <!-- <Image
      src={so}
      width={so.width}
      height={so.height}
      alt="Alt"
      class="absolute inset-0 -z-10 h-full w-full object-cover"
    /> -->
    <!-- <div
      class="from-blue/10 to-blue/20 absolute inset-0 -z-10 h-full w-full bg-linear-0 object-cover"
    >
    </div> -->
    <Header title="Rajesh Das" />
    <div class="flex flex-1">
      <main class="flex h-full flex-1 justify-center">
        <div class="w-full max-w-7xl">
          <slot />
        </div>
      </main>
    </div>
  </body>
</html>
