---
import { Image } from "astro:assets";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { formatDate } from "@/lib/utils";

const {
  title,
  summary,
  description,
  pubDatetime,
  modDatetime,
  featured,
  draft,
  readMore,
  cover,
  coverAlt,
  logo,
  gallery,
  links,
} = Astro.props;
---

<BaseLayout
  title={title}
  description={description}
  image={cover}
  imageAlt={coverAlt}
  contentType="Article"
  transparent_header="true"
>
  <Image src={cover} alt={coverAlt} width={cover.width} height={cover.height} />
  <article>
    <time>{formatDate(pubDatetime)}</time>
    <h1 transition:name={title}>{title}</h1>
    <slot />
  </article>
</BaseLayout>
